
body{
    background-color: #E8F0F9;
    color: #5B5B5B !important;
    padding-bottom: 50px;
}

#banner{
    background-color: #0D76BF;
    color: white;
}

#logo{
    float: left;
    width: 60px;
    height: 60px;
}

#title{
    float: left;
    margin-top: 10px
}

#github-text{
    color: white;
    float: right;
    border: 1px solid white;
    margin: 17px;
}


.clr{
    clear: both;
}



.box{
    border: 5px black solid;
    background-color: #33C3F0;
    border-radius: 20px;
}

.box h2{
    text-decoration: underline;
    background-color: #4c64dd;
    color: white;
    text-align: center;
}

.box p{
    padding: 5px;
}

#description{
    margin-top: 40px;
}

#footer{
    margin-top: 40px;
    width: 50%;
}

.slider{
    margin: 20px;
}


/*  New Stuff */

/* div that surrounds the slider */
#div-slider{
    width: 300px;
    text-align: center;
    margin: 20px
}


#graph-heatmap{
    margin-top: 20px;
}

#graph-cross-section{
    margin-top: 20px;
}